.wrapper {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 2rem;
}

.icon{
  font-size: 3.2rem;
  color: var(--grey);
}

label{
  font-size: 1.8rem;
  text-transform: capitalize;
  display: inline-block;
}

.title {
  text-align: center;
  font-size: 5rem;
  line-height: 1;
}

.intro {
  text-align: center;
}

.display {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 2rem;
  min-height: 120px;
  overflow: hidden;
  padding: 1rem 3.5rem;
  margin-block: 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  position: relative;
}

.display input {
  width: 100%;
  align-self: stretch;
  font-size: 3rem;
  outline: none;
  border: none;
  font-family: monospace;
}

.display input:focus,
.display input:active{
  outline: none;
}

.password-strength{
  width: 100%;
  height: 1rem;
  background-color: var(--warning);
  position: absolute;
  bottom: 0;
  left: 0;
}

.controls-wrapper{
  width: 100%;
  background-color: #fff;
  padding: 3rem 3.5rem;
  border-radius: 1rem;
}

.controls__heading{
  font-size: 3rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 0.7rem;
}

.controls{
  width: 100%;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 7rem;
}

.controls__group{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-group{
  display: flex;
  align-items: center;
  gap: 1rem
}

input[type='checkbox'] {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  border-color: var(--grey);
  outline: none;
  accent-color: var(--red);
}
.length-wrapper{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 0.8rem;
}
.length-number{
  width: 60px;
  height: 40px;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--grey);
  font-size: 2rem;
  /* padding-inline: 10px; */
  text-align: center;
}
.range{
  accent-color: var(--red);
  width: 70%;
}

@media screen and (max-width: 600px) {
  .title{
    font-size: 3.6rem;
  }
  .display{
    min-height: 75px;
    margin-bottom: 0;
  }
  .controls-wrapper,
  .display{
    padding-inline: 2.2rem;
  }
  .controls-wrapper{
    padding-block: 2rem;
  }
  .password-strength {
    height: 0.7rem;
  }
  .controls__heading,
  .display input{
    font-size: 2.2rem;
  }
  .length-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .controls{
    gap: 2rem;
  }
  .icon{
    font-size: 2.5rem;
  }
}